<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>918117743660-m3sf7f7467h9vfn7o51t2rli9hcfak8a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.918117743660-m3sf7f7467h9vfn7o51t2rli9hcfak8a</string>
	<key>API_KEY</key>
	<string>AIzaSyASPGaCLVn_Uog2lrP7MjPOdfy77WOL3_M</string>
	<key>GCM_SENDER_ID</key>
	<string>918117743660</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.gptQuiz</string>
	<key>PROJECT_ID</key>
	<string>gpt-quiz-aded8</string>
	<key>STORAGE_BUCKET</key>
	<string>gpt-quiz-aded8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:918117743660:ios:9cffb70e05bf7d772aa589</string>
</dict>
</plist>